<mat-card>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color="primary">public</mat-icon>
      </ng-template>


      <social-network-post (deletePost)="onDeletePost($event)"></social-network-post>

      <social-network-post></social-network-post>

      <social-network-post></social-network-post>

      <social-network-post></social-network-post>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon color="primary">people</mat-icon>
      </ng-template>

      <social-network-post></social-network-post>

      <social-network-post></social-network-post>

      <social-network-post></social-network-post>

      <social-network-post></social-network-post>
    </mat-tab>
  </mat-tab-group>
</mat-card>
