<mat-card>
  <h2>Muro</h2>
  <form class="form" [formGroup]="postForm" (ngSubmit)="sendPost()">

    <mat-form-field class="full-width">
      <textarea matInput formControlName="comment"
                placeholder="¿Que está pasando?"></textarea>
    </mat-form-field>

    <mat-card-actions>
      <mat-form-field>
        <mat-label>¿Quienes podrán verlo?</mat-label>
        <mat-select formControlName="public">
          <mat-option *ngFor="let option of publicOptions" [value]="option.value">
            {{option.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button [disabled]="postForm.invalid" color="primary" mat-icon-button
              aria-label="Enviar publicación">
        <mat-icon>{{isEditForm ? 'edit' : 'send'}}</mat-icon>
      </button>
    </mat-card-actions>

  </form>
</mat-card>
