<mat-card class="post-card">
  <mat-card-header>
    <mat-card-title>Público</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button color="primary"  mat-icon-button aria-label="Editar Publicación">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button aria-label="Eliminar Publicación">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
