<mat-card>
  <h2>Bienvenido</h2>
  <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">

    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" [errorStateMatcher]="matcher"
             placeholder="Ex. mayra@example.com">

      <mat-error *ngIf="loginForm.controls.email.hasError('email') && !loginForm.controls.email.hasError('required')">
        Por favor ingrese un email valido
      </mat-error>
      <mat-error *ngIf="loginForm.controls.email.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Contraseña</mat-label>
      <input matInput formControlName="password" type="password" [errorStateMatcher]="matcher"
             placeholder="Min 6 caracteres y máximo 12">

      <mat-error *ngIf="loginForm.controls.password.hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>

      <mat-error *ngIf="registerForm.controls.password.hasError('minLength') || registerForm.controls.password.hasError('maxLength')">
        Este cambo debe contener entre 6 y 12 caracteres
      </mat-error>


    </mat-form-field>

    <div class="form-footer">
      <button [disabled]="loginForm.invalid" mat-raised-button color="primary">Iniciar Sesión</button>
      <a routerLink="/auth/register" class="auth-link">No tengo cuenta</a>
    </div>

  </form>
</mat-card>
