:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

mat-card {
  max-width: 400px;
}

mat-toolbar-row {
  display: flex;
  justify-content: space-between;
}
